<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= meta.title %> | NeverText</title>
<!-- Load CSS libraries (From JSDelivr) -->
<!-- BootStrap Honoka v4.4.0-->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-honoka@4.4.0/dist/css/bootstrap.min.css"
  integrity="sha256-X+Gafuyce2mBt1kRZItBAHoUvS8Ir/4XYAeEl/2Vh+c="
  crossorigin="anonymous"
/>
<!-- FontAwesome Free v5.15.1 -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/css/all.css"
  integrity="sha256-iqohlDG+xn9MRt53DKygzaORvtzhTCN4xvi1LHNU3OM="
  crossorigin="anonymous"
/>
