<!-- Load JS libraries (From JSDelivr)-->
<!-- jQuery v3.5.1 Slim -->
<script
  src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"
></script>
<!-- BootStrap Honoka v4.4.0-->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap-honoka@4.4.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha256-zxevz2MOFpqKf3D9eeNd/gE0X679Aeg6WRhubeSA9Vc="
  crossorigin="anonymous"
></script>
<!-- FontAwesome Free v5.15.1 -->
<script
  src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/js/all.js"
  integrity="sha256-aRzL7uTsD4wkn0k56ez4ut6FOVO3gT+58arwaDvxXoM="
  crossorigin="anonymous"
></script>
