<!DOCTYPE html>
<html lang="en">
  <%- include("./common/head") %>
  <body>
    <%- include("./common/navbar.ejs") %>
    <div class="container">
      <h1>Hello, World!</h1>
      <%- include("./common/footer") %>
    </div>
    <%- include("./common/scripts") %>
  </body>
</html>
