<!DOCTYPE html>
<html lang="en">
  <%- include("./common/head") %>
  <body>
    <%- include("./common/navbar.ejs") %>
    <div class="container">
      <h1>New text</h1>
      <form action="/new" method="POST">
        <div class="form-group">
          <label>Text</label>
          <textarea class="form-control" rows="20" name="text"></textarea>
        </div>
        <div class="form-group">
          <label>File name</label>
          <input class="form-control" type="text" name="filename" />
        </div>
        <div class="form-group">
          <label>Format</label>
          <select class="form-control" name="format">
            <option>Plain Text</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">New text</button>
      </form>

      <%- include("./common/footer") %>
    </div>
    <%- include("./common/scripts") %>
  </body>
</html>
